@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap');

.about-wrapper {
  background: url('../images/bianco.jpg');
  background-size: cover;

}
.container {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  
  border: 1px; 
  border-radius: 5px;
  background: transparentize($color: gray, $amount: 0.5);

  .bio-wrapper {
    // padding: 40px;
    margin: 0 auto;
    width: 100%;
    // max-width: 1200px;
    position: relative;

    @media (min-width: 1440px) {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .section-content {
      border-radius: 5px;
      padding: 10px;

      @media (min-width: 768px) {
        // padding: 20px;
        flex: 0 0 50%;
        // max-width: 50%;
      }
    }

    h3,
    h4 {
      font-family: "Abril Fatface", cursive;
      text-align: left;
      // font-size: 22px;
      // color: #14213d;
      // color: #55828b;
      color: #2f4858;
    }
    span {
      font-family: 'Manrope', sans-serif;
      line-height: 22px;

    }
  }
}

@media screen and (min-width: 1600px) {
  .container {
    max-width: 1570px;

    .bio-wrapper {
      padding: 40px;
      margin: 0 auto;
      width: 100%;
      max-width: 1500px;
      position: relative;
    }
  }
}
@media screen and (min-width: 1900px) {
  .container {
    max-width: 1870px;
  }
}