.contact-outer-wrapper {
  background: url("../images/contatto.jpg");
  background-size: cover;

  min-height: 100vh;
  padding: 20px;
  // position: relative;

  // footer {
  //   position: absolute;
  //   bottom: 30px;
  // }
  // @media (min-width: 2560px) {
  //   max-width: 1500px;
  //   margin: 0 auto ;
  // }
}

.flex-wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  // padding-top: 70px;
  position: relative;
  width: 100%;
  .contact-container {
    position: absolute;
    top: 55%;
    margin-top: 50px;

    .inner {
      display: flex;
      flex-flow: column;
      align-items: center;
      margin-bottom: 15px;
      background-color: transparentize(#000, 0.3);
      padding: 20px 50px;
      border-radius: 3px;

      span {
        text-transform: uppercase;
        text-align: center;
        font-family: "Bowlby One SC", cursive;
        color: #fff;
        @media (min-width: 768px) {
          font-size: 25px;
        }
      }
      a {
        font-size: 16px;
        // padding: 0 20px;
        color: #fff;
        text-align: center;
        text-decoration: underline;
      }
    }
  }
}
.info-web {
  position: absolute;
  bottom: 90px; 

  .info-web-inner {
    font-family: "Manrope", sans-serif;

  }
}