.music-video-outer-wrapper {
  background: url("../images/poster.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;

  // @media (min-width: 2560px) {
  //   max-width: 1500px;
  //   margin: 0 auto ;
  // }
}

.choice-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-flow: column;
  // padding-top: 100px;

  @media screen and (min-width: 768px) {
    flex-flow: row;
    padding-top: 0;
  }

  .col-music {
    width: 100%;
    height: 35vh;
    display: flex;
    justify-content: center;

    @media screen and (min-width: 768px) {
      width: 50%;
      height: 100vh;
      border-right: 9px solid;
    }
  }
  .inner {
    align-self: center;

    .aws-btn--large {
      @media screen and (min-width: 768px) {
        height: 50px !important;
      }
    }
  }
  .col-video {
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;

    @media screen and (min-width: 768px) {
      width: 50%;
      height: 100vh;
    }
  }
}
