
.music-outer-wrapper {
  background: url("../images/palm.jpeg");
  background-size: cover;

  min-height: 100vh;
  // @media (min-width: 2560px) {
  //   max-width: 1500px;
  //   margin: 0 auto ;
  // }

  .grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-top: 70px;

    @media (min-width: 1440px) {
      width: 100%;
    }
  }

  .quote-container {
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    margin-top: 50px;

    .note {
      color: rgb(69, 123, 157);
      position: relative;
      width: 144px;
      height: 112px;
      margin: 0 auto;
      padding: 20px;
      font-family: "Abril Fatface", cursive;
      font-size: 23px;
      box-shadow: 0 10px 10px 2px rgba(0, 0, 0, 0.3);
    }

    .yellow {
      background: #eae672;
      -webkit-transform: rotate(4deg);
      -moz-transform: rotate(4deg);
      -o-transform: rotate(4deg);
      -ms-transform: rotate(4deg);
      transform: rotate(4deg);
    }

    .pin {
      background-color: #aaa;
      display: block;
      height: 32px;
      width: 2px;
      position: absolute;
      top: 3px;
      top: 0;
      z-index: 1;
      left: 65%;
      left: 34%;

      @media (min-width: 375px) {
        // left: 72%;
        left: 27%;
      }
      @media (min-width: 420px) {
        // left: 75%;
        left: 24%;
      }
      @media (min-width: 768px) {
        // left: 87%;
        left: 13%;
      }
      @media (min-width: 1024px) {
        // left: 90%;
        left: 10%;
      }
      @media (min-width: 1440px) {
        left: 7%; 
      }
      @media (min-width: 1600px) {
        display: none;
      }

      &:after {
        background-color: #f50;
        background-image: radial-gradient(
          25% 25%,
          circle,
          hsla(0, 0%, 100%, 0.3),
          hsla(0, 0%, 0%, 0.3)
        );
        border-radius: 50%;
        box-shadow: inset 0 0 0 1px hsla(0, 0%, 0%, 0.1),
          inset 3px 3px 3px hsla(0, 0%, 100%, 0.2),
          inset -3px -3px 3px hsla(0, 0%, 0%, 0.2),
          23px 20px 3px hsla(0, 0%, 0%, 0.15);
        content: "";
        height: 12px;
        left: -5px;
        position: absolute;
        top: -10px;
        width: 12px;
      }

      &:before {
        background-color: hsla(0, 0%, 0%, 0.1);
        box-shadow: 0 0 0.25em hsla(0, 0%, 0%, 0.1);
        content: "";

        height: 24px;
        width: 2px;
        left: 0;
        position: absolute;
        top: 8px;

        transform: rotate(57.5deg);
        -moz-transform: rotate(57.5deg);
        -webkit-transform: rotate(57.5deg);
        -o-transform: rotate(57.5deg);
        -ms-transform: rotate(57.5deg);

        transform-origin: 50% 100%;
        -moz-transform-origin: 50% 100%;
        -webkit-transform-origin: 50% 100%;
        -ms-transform-origin: 50% 100%;
        -o-transform-origin: 50% 100%;
      }
    }
  }

  .card {
    margin: 1rem;
    flex-basis: 85%;
    // padding: 15px;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;

    iframe {
      @media (min-width: 2560px) {
        height: 600px !important;
        width: 1000px !important;
      }
    }
  }
  @media (min-width: 768px) {
    .card {
      flex-basis: 45%;
    }
  }

  .card:hover,
  .card:focus,
  .card:active {
    color: #0070f3;
    border-color: #0070f3;
  }

  @media (max-width: 600px) {
    .grid {
      width: 100%;
      flex-direction: column;
    }
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    .grid {
      width: 100%;
      flex-direction: column;
    }
  }
  .first-frame {
    height: 300px;
  }
  @media (min-width: 768px) {
    .first-frame {
      height: 400px;
      width: 600px !important;
    }
  }

  .music-index {
    margin-top: 100px;
    padding: 25px;

    // .index-frame {
    //   min-height: 50vh !important;
    // }
  }

  @media (max-width: 425px) {
    .awssld__content {
      display: block !important;
      overflow: visible;
    }
  }
  .big-content-music {
    .awssld__content {
      background-color: transparent;
      align-items: center;
      display: flex;
    }
  }
  #video-concert-music {
    .awssld__content {
      background-color: transparent;
      @media (min-width: 768px) {
        padding-bottom: 70px;
      }
    }
  }
  .awssld__container {
    width: 90% !important;
    margin: 0 auto;
    @media (min-width: 768px) {
      width: 100%;
    }
    @media (min-width: 2560px) {
      width: 70% !important;
      height: 0;
    }
    .awssld__box {
      height: 70%;
    }
  }
  .awssld__controls {
    visibility: visible !important;
  }
  .awssld__controls button {
    align-items: flex-start;
  }
  .awssld__controls__arrow-right,
  .awssld__controls__arrow-left {
    &:before,
    &:after {
      background-color: #000 !important;
      opacity: 1 !important;
    }
  }

  .video-container {
    padding-bottom: 50px;
    .awssld__wrapper {
      min-height: 600px !important;
    }
    @media screen and (min-width: 1600px) {
      max-width: 1570px;
      margin: 0 auto;
    }
    @media screen and (min-width: 1900px) {
      max-width: 1870px;
      margin: 0 auto;
    }

    .video-wrapper-inner {
      display: flex;
      flex-flow: column;
      align-items: center;
      @media (min-width: 768px) {
        margin-top: 50px;
      }

      iframe {
        @media (min-width: 1024px) {
          width: 650px !important;
          height: 400px !important;
        }
        @media (min-width: 2560px) {
          width: 800px !important;
          height: 600px !important;
        }
      }

      .video-text {
        color: #000;
        margin: 0 auto;
        text-align: center;
        max-width: 250px;
        font-weight: bold;
        margin-top: 20px;
        font-size: 16px;

        font-family: "Manrope", sans-serif;
        @media screen and(min-width: 768px) {
          max-width: 600px;
          line-height: 30px;
        }
      }
    }
  }
}
