.press-outer-wrapper {
  background: url("../images/press2.jpeg");
  background-size: cover;

  min-height: 100vh;

  overflow-y: scroll;
  width: 100%;
  .press-container {
    // height: 85vh;
    // overflow: hidden;
    scroll-behavior: smooth;

    .press-wrapper {
      // height: 100%;
      // overflow-y: scroll;
      padding: 5px 38px 0 20px;
      @media (min-width: 758px) {
        display: flex;
        flex-flow: column;
        align-items: center;
      }
    }
    .press-inner-wrapper {
      margin-bottom: 25px;
      @media (min-width: 758px){

        padding: 50px;
      }

      .titolo {
        color: #2f4858;
      }
      .description {
        color: #fff;
      }
      .description {
        @media (min-width: 758px) {
          max-width: 500px;
        }
      }
      .rhap_container {
        margin-top: 20px !important;
      }

      a {
        color: #fff; 
      }
      iframe {
        margin-top: 10px;
        
        @media (min-width: 320px) and (max-width: 425px){
          width: 300px !important;
          
        }
        @media (min-width: 758px) {
          width: 650px;
          height: 450px;
        }
      }
    }
  }
}
