@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

.press-outer-wrapper {
  background: url("../images/press4.jpg");
  background-size: contain;

  min-height: 100vh;

  overflow-y: scroll;
  width: 100%;

  // @media (min-width: 2560px) {
  //   max-width: 1500px;
  //   margin: 0 auto ;
  // }
  
  .press-container {
    @media (min-width: 1440px) {
      height: 85vh;
      overflow: hidden;
      scroll-behavior: smooth;
      max-width: 900px;
    }

    .press-wrapper {
      border: 1px;
      border-radius: 5px;
      background: transparentize($color: black, $amount: 0.3);
      padding: 5px 38px 0 20px;
      @media (min-width: 758px) {
        display: flex;
        flex-flow: column;
        align-items: center;
      }
      @media (min-width: 1440px) {
        height: 100%;
        overflow-y: scroll;
      }
    }
    .press-inner-wrapper {
      margin-bottom: 25px;
      @media (min-width: 758px) {
        padding: 50px;
      }

      a {
        padding: 0 !important;
        // margin-top: 15px;
        text-decoration: underline;
        color: #fff;
    
      }
      .titolo-wrapper {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        margin-bottom: 10px;
        .titolo,
        .date {
          color: #fff;
          font-family: "Abril Fatface", cursive;
          
        }
       .titolo {
        font-size: 24px;
       }
       .date {
         font-size: 15px;
       }
      }
      .description {
        color: #fff;
        font-family: "Manrope", sans-serif;
        line-height: 25px;
       

        @media (min-width: 758px) {
          max-width: 500px;
        }
      }

      .rhap_container {
        margin-top: 20px !important;
      }


      .links {
        display: flex;
        flex-flow: column;
      }
      iframe {
        margin-top: 10px;

        @media (min-width: 320px) and (max-width: 425px) {
          width: 300px !important;
        }
        @media (min-width: 758px) {
          width: 650px;
          height: 450px;
        }
      }
    }
  }
}
.line {
  width: 100%;
  height: 20px;

  hr {
    border: 0;
    clear:both;
    display:block;
    width: 100%;               
    background-color:#FFFF00;
    height: 1px;
    
    @media(min-width: 1440px) {
      border: 1px !important; 
    }
  }
}


.press-archive-wrapper {
  border: 1px;
  border-radius: 5px;
  background: transparentize($color: black, $amount: 0.6);
  padding: 5px 38px 0 20px;
  margin-top: 100px;
  // @media (min-width: 758px) {
  //   display: flex;
  //   flex-flow: column;
  //   align-items: center;
  // }
  .press-archive {
    
  }
}


.gallery-wrapper {
  background: transparentize($color: black, $amount: 0.3);
  padding: 50px;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 100px;
}