.awssld__content {
  background-color: transparentize($color: #fff, $amount: 0.7);
}
.awssld__wrapper {
  // min-height: 500px !important;
}
.video-outer-wrapper {
  background: url("../images/video.jpg");
  background-size: cover;
  min-height: 100vh;

  .video-wrapper-inner {
    .video-text {
      color: #000;
      margin: 0 auto;
      text-align: center;
      max-width: 250px;
      font-weight: bold;
      margin-top: 20px;
      
      @media screen and(min-width: 768px) {
        max-width: 600px;
        font-size: 22px;
        line-height: 30px;
      }
    }
  }
}

.video-container {
  @media screen and (min-width: 1600px) {
    max-width: 1570px;
    margin: 0 auto;
  }
  @media screen and (min-width: 1900px) {
    max-width: 1870px;
    margin: 0 auto;
  }
}
