@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

.awssld__content {
  background-color: transparentize($color: #fff, $amount: 0.8);
  align-items: baseline !important;
}

.video-outer-wrapper {
  background: url("../images/video.jpg");
  background-size: cover;
  min-height: 100vh;

  .description-wrapper {
    border: 1px;
    border-radius: 5px;
    background: transparentize($color: black, $amount: 0.6);
    padding: 12px 38px 12px 20px;
    .description {
      color: #fff;
      font-family: "Manrope", sans-serif;
      line-height: 28px;
    }
    @media (min-width: 1500px) {
      max-width: 1500px;
      margin: 0 auto ;
    }
  }
  .video-wrapper-inner {
    .video-text {
      color: #000;
      font-family: "Manrope", sans-serif;
      margin: 0 auto;
      text-align: center;
      max-width: 250px;
      margin-top: 20px;
      font-size: 16px;

      @media screen and(min-width: 768px) {
        max-width: 600px;
        line-height: 30px;
      }
    }
  }
}

.video-container {
  padding-bottom: 50px;
  .awssld__wrapper {
    min-height: 600px !important;
  }
  @media screen and (min-width: 1600px) {
    max-width: 1570px;
    margin: 0 auto;
  }
  @media screen and (min-width: 1900px) {
    max-width: 1870px;
    margin: 0 auto;
  }
}
.awssld__controls__arrow-right,
.awssld__controls__arrow-left {
  &:before,
  &:after {
    background-color: #43677e !important;
    // background-color: #000 !important;
    opacity: 1 !important;
  }
}
.awssld__bullets button {
  background: #43677e !important;
}
